<ul class="nav justify-content-center border-bottom pb-3 mb-3">
  <li class="nav-item">
    <a href=".\" class="nav-link px-2 text-body-secondary">Домой</a>
  </li>
  <li class="nav-item">
    <a href="./dictionary.html" class="nav-link px-2 text-body-secondary"
      >Словарь</a
    >
  </li>
  <li class="nav-item dropdown">
    <span
      class="nav-link dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      style="color: #212529bf"
    >
      Главы
    </span>
    <ul class="dropdown-menu">
      <li>
        <a href="./chapter1.html" class="dropdown-item nav-cursor nav-chapter-1"
          >Глава №1</a
        >
      </li>
      <li>
        <a href="./chapter2.html" class="dropdown-item nav-cursor nav-chapter-2"
          >Глава №2</a
        >
      </li>
      <li>
        <a href="./chapter3.html" class="dropdown-item nav-cursor nav-chapter-3"
          >Глава №3</a
        >
      </li>
    </ul>
  </li>
</ul>
<p class="text-center text-body-secondary">© 2024 ATX</p>
