// Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap";

body {
  background: #b4b4b4;
}
.container {
  background: white;
}
.chapter-number,
.chapter-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-cursor {
  cursor: pointer;
}
.img-logo {
  max-width: 50%;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #535455;
}
main {
  padding-top: 59px;
}
.title-text {
  text-align: center;
}
.img-logo-mini {
  height: 30px;
}
