// Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap";
body {
  background: #b4b4b4;
}
.container {
  background: white;
}
.chapter-number,
.chapter-img {
  display: flex;
  justify-content: center;
}
.nav-cursor {
  cursor: pointer;
}
.img-logo {
  max-width: 50%;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #535455;
}
